<head>
    <script src="https://kit.fontawesome.com/302a7325c5.js" crossorigin="anonymous"></script>
</head>

<div class="container-flex">
    <div class="row">
        <h1> Educación: </h1>
        <div class="col-lg-10">
            <ul>
                <li class="educacionlist" >
                    <h2 > <i class="fa-solid fa-laptop-code"></i>
                        Universidad Profesional Siglo 21
                    </h2>
                    <h3>
                        Años: 2022 - Presente
                    </h3>
                    <p>
                        Carrera: Tecnicatura en redes informaticas y Telecomunicaciones
                    </p>
                </li>

                <li class="educacionlist" >
                    <h2 > <i class="fa-solid fa-laptop-code"></i>
                        Universidad Nacional Abierta
                    </h2>
                    <h3>
                        Años: 2002 - 2008
                    </h3>
                    <p>
                        Carrera: Ingeniería de Sistemas
                    </p>
                </li>

                <li class="educacionlist" >
                    <h2 > <i class="fa-solid fa-laptop-code"></i>
                        Instituto Universitario Politecnico de las Fuerzas Armadas Nacionales
                    </h2>
                    <h3>
                        Años: 1988 - 1989
                    </h3>
                    <p>
                        Carrera: Ingeniería de Sistemas
                    </p>
                </li>
                
            </ul>
        </div>
    </div>


</div>