

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h1 class="m-5">Editar experiencia: </h1>
                        
                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"  >
                            <div class="form-group">
                                <label for="nombreExp">Nombre Empresa</label>
                                <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="explab.nombreExp" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcionExp">Cargo / Responsabilidad:</label>
                                <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="explab.descripcionExp" required>
                            </div>
                            <div></div>
                            <button class="btn btn-primary" >Actualizar Experiencia</button>
                        </form>
              
              
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>