<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"  >
                <div class="form-group">
                    <label for="nombreExp">Nombre Empresa</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="explab.nombreExp" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Cargo / Responsabilidad:</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="explab.descripcionExp" required>
                </div>
                <button class="btn btn-primary" >Actualizar Experiencia</button>
            </form>
        </div>
    </div>
</div>