<head>
    <script src="https://kit.fontawesome.com/302a7325c5.js" crossorigin="anonymous"></script>
</head>

<div class="row">
    <h1> Experiencia laboral: </h1>
    <!-- <div class="col-lg-10">
        <ul>
            <li class="experiencialist" >
                <h2 > <i class="fa-regular fa-building"></i>
                    Empresa: Electricidad Arev
                </h2>
                <h3>
                    Años: 2020 - Presente
                </h3>
                <p>
                    Cargo desempeñado: Gerente Comercial
                </p>
            </li>

            <li class="experiencialist" >
                <h2 > <i class="fa-regular fa-building"></i>
                    Empresa: Fibra Obras y Servicios
                </h2>
                <h3>
                    Años: 2019 - 2020
                </h3>
                <p>
                    Cargo desempeñado: Supervisor Tecnico
                </p>
            </li>

            <li class="experiencialist" >
                <h2 > <i class="fa-regular fa-building"></i>
                    Empresa: Emprendimiento
                </h2>
                <h3>
                    Años: 2018 - 2019
                </h3>
                <p>
                    Cargo desempeñado: Asesor Comercial y Tecnico electricista - Computación
                </p>
            </li>


            <li class="experiencialist" >
                <h2 > <i class="fa-regular fa-building"></i>
                    Empresa: Electricidad de Caracas (Corpoelec)
                </h2>
                <h3>
                    Años: 1991 - 2017
                </h3>
                <p>
                    Cargo desempeñado: Jefe I de Planificacion - Procesamiento de Ventas
                </p>
            </li>
            
        </ul>
    </div> -->
    <div class="col-lg-2">
       <!-- <button type="button" class="btn btn-primary" routerlink="/nueva-experiencia" *ngIf="isLogged"> -->
            <button type="button" class="btn btn-primary" routerlink="/nueva-experiencia" *ngIf="isLogged">    
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td>
                        <h2>{{Experiencia.nombreExp}}</h2>
                    </td>
                    <td>
                        {{Experiencia.descripcionExp}}
                    </td>
                    <td *ngIf="isLogged"> 
                    <button type="button" class="btn btn-info" routerLink="/editexperiencia/{{Experiencia.id}}">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </button> 
                    </td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-danger" (click)="delete(Experiencia.id)">
                        <i class="bi bi-trash-fill"></i>
                        Borrar
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
