<div class="container-flex">


    <div class="row">
        <h1> Habilidades: </h1>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'CCS'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'JavaScript'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'Bootstrap'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="55"
            [radius]="100"
            [title]="'Angular'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'Java'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'Python'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'R'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'green'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            ></circle-progress>
        </div>
    </div>

</div>    
