img{
    height: 50px;
    width: auto;
    border-radius:75%;
}

.navbar{
    background-color: aliceblue;
}

.container-fluid{
    display: flex;
    justify-content: left;
    align-items: center;

}

