

   
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img
          id="APLog"
          src=src="../../../assets/imagenes/ArgProgLogo.jpg"
          alt="MDB Logo"
          draggable="false"
          height="30"
      /></a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a href="https://www.instagram.com/winstonjgz/"   id="logInsta"><img src="../../../assets/imagenes/Instagram.jpg" ></a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/winstonjguzman/"   id="logLink"><img src="../../../assets/imagenes/Linkedin.png"></a>
          </li>
          <li class="nav-item">
            
            <a href="https://github.com/winstonjgz"   id="GitLink"><img src="../../../assets/imagenes/GitHub.png"></a>
          </li>
          <li class="nav-item ms-3">
            <!-- <a class="btn btn-black btn-rounded" href="#!">Sign in</a> -->
            <button type="button" class="btn btn-outline-primary" (click)="login()"> Acceso </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
    