<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" href=""><img src="../../../assets/imagenes/ArgProgLogo.jpg"></a>

    <!-- Toggle button -->
    

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/winstonjgz"><img src="../../../assets/imagenes/GitHub.png"></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.instagram.com/winstonjgz/"><img src="../../../assets/imagenes/Instagram.jpg"></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.linkedin.com/in/winston-j-guzman-zuniagas/"><img src="../../../assets/imagenes/Linkedin.png"></a>
        </li>
      </ul>

      <button type="button" class="btn btn-outline-primary" onclick="login()" > Acceso </button>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->