<div class="container-flex">

    <div class="d-flex justify-content-center mb-3">
        <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
            <img id="perfil-img" src="../../../assets/imagenes/WG.jpg" alt="Winston Guzman">
    
        </div>
        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
            <!-- <p id="nombre">Winston J. Guzman</p> -->
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p> 
            <p>Desarrollador Fullstack Jr</p>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h1 id="acerca-de"> Acerca de mí </h1>
                    <p>Promuevo activamente la acción de elevar el nivel del equipo humano 
                        de la empresa a través de liderazgo efectivo y la aplicación de distintos controles de gestión, tomando decisiones 
                        a través de análisis estadísticos exhaustivos de datos, utilizando las distintas 
                        habilidades de programación y aprendizaje necesarias; logrando tomar decisiones 
                        derivadas de estos para avanzar y cumplir los indicadores, metas más los objetivos
                         de la empresa mediante un alto grado de eficacia, eficiencia y efectividad.
             
                        Soy un apasionado por la informática, programación, tecnología y el 
                        autoaprendizaje. Actualmente me estoy formando como: "Desarrollador web Full stack Jr."</p>
                
            </span>
        </div>
    </div>
</div>